.next-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  top: 0;
  margin: -1px;
}

.next-cascader {
  box-sizing: border-box;
  display: inline-block;
  overflow: auto;
  border: 1px solid #DCDEE3;
  border: var(--cascader-menu-border-width, 1px) var(--line-solid, solid) var(--cascader-menu-border-color, #DCDEE3);
  border-radius: 3px;
  border-radius: var(--cascader-menu-border-radius, 3px);
}
.next-cascader *,
.next-cascader *:before,
.next-cascader *:after {
  box-sizing: border-box;
}
.next-cascader-inner:after {
  visibility: hidden;
  display: block;
  height: 0;
  font-size: 0;
  content: " ";
  clear: both;
}
.next-cascader-menu-wrapper {
  float: left;
  overflow: auto;
  width: auto;
  width: var(--cascader-menu-width, auto);
  min-width: 100px;
  min-width: var(--cascader-menu-min-width, 100px);
  height: 192px;
  height: var(--cascader-menu-height, 192px);
  overflow-x: hidden;
  overflow-y: auto;
}
.next-cascader-menu-wrapper + .next-cascader-menu-wrapper {
  border-left: 1px solid #DCDEE3;
  border-left: var(--cascader-menu-border-width, 1px) var(--line-solid, solid) var(--cascader-menu-border-color, #DCDEE3);
}
.next-cascader-menu {
  position: relative;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  min-width: auto;
  min-height: 100%;
}
.next-cascader-menu.next-has-right-border {
  border-right: 1px solid #DCDEE3;
  border-right: var(--cascader-menu-border-width, 1px) var(--line-solid, solid) var(--cascader-menu-border-color, #DCDEE3);
}
.next-cascader-menu-item.next-expanded {
  color: #333333;
  color: var(--cascader-menu-item-expanded-color, #333333);
  background-color: #F2F3F7;
  background-color: var(--cascader-menu-item-expanded-background-color, #F2F3F7);
}
.next-cascader-menu-icon-right {
  position: absolute;
  top: 0;
  right: 10px;
  color: #666666;
  color: var(--cascader-menu-icon-expand-color, #666666);
}
.next-cascader-menu-icon-right:hover {
  color: #333333;
  color: var(--cascader-menu-icon-hover-expand-color, #333333);
}
.next-cascader-menu-icon-expand.next-icon:before, .next-cascader-menu-icon-expand.next-icon .next-icon-remote {
  width: 8px;
  width: var(--cascader-menu-icon-expand-size, 8px);
  font-size: 8px;
  font-size: var(--cascader-menu-icon-expand-size, 8px);
  line-height: inherit;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .next-cascader-menu-icon-expand.next-icon {
    transform: scale(0.5);
    margin-left: -4px;
    margin-left: calc(0px - var(--icon-s, 16px)/2 + var(--cascader-menu-icon-expand-size, 8px)/2);
    margin-right: -4px;
    margin-right: calc(0px - var(--icon-s, 16px)/2 + var(--cascader-menu-icon-expand-size, 8px)/2);
  }
  .next-cascader-menu-icon-expand.next-icon:before {
    width: 16px;
    width: var(--icon-s, 16px);
    font-size: 16px;
    font-size: var(--icon-s, 16px);
  }
}
.next-cascader-menu-icon-loading.next-icon:before, .next-cascader-menu-icon-loading.next-icon .next-icon-remote {
  width: 12px;
  width: var(--icon-xs, 12px);
  font-size: 12px;
  font-size: var(--icon-xs, 12px);
  line-height: inherit;
}
.next-cascader-menu-item.next-expanded .next-cascader-menu-icon-right {
  color: #333333;
  color: var(--cascader-menu-icon-hover-expand-color, #333333);
}
.next-cascader-menu-item.next-expanded .next-cascader-menu-icon-loading {
  color: #5584FF;
  color: var(--color-brand1-6, #5584FF);
}
.next-cascader-filtered-list {
  height: 192px;
  height: calc(var(--s-8, 32px)*6);
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  overflow: auto;
}
.next-cascader-filtered-list .next-menu-item-inner {
  overflow: visible;
}
.next-cascader-filtered-item em {
  color: #5584FF;
  color: var(--color-brand1-6, #5584FF);
  font-style: normal;
}

.next-cascader[dir=rtl] .next-cascader-menu-wrapper {
  float: right;
  border-left: none;
  border-right: 1px solid #DCDEE3;
  border-right: var(--cascader-menu-border-width, 1px) var(--line-solid, solid) var(--cascader-menu-border-color, #DCDEE3);
}
.next-cascader[dir=rtl] .next-cascader-menu-wrapper:first-child {
  border-right: none;
}
.next-cascader[dir=rtl] .next-cascader-menu.next-has-right-border {
  border-right: none;
  border-left: 1px solid #DCDEE3;
  border-left: var(--cascader-menu-border-width, 1px) var(--line-solid, solid) var(--cascader-menu-border-color, #DCDEE3);
}
.next-cascader[dir=rtl] .next-cascader-menu-icon-right {
  right: auto;
  left: 10px;
}