:root {
--menu-padding-vertical: 8px;
--menu-padding-horizontal: 20px;
--menu-padding-ver-padding-lr: 0px;
--menu-padding-ver-padding-tb: 8px;
--menu-padding-hoz-padding-lr: 0px;
--menu-padding-hoz-padding-tb: 8px;
--menu-item-padding-ver-padding-l: 20px;
--menu-item-padding-ver-padding-r: 20px;
--menu-item-padding-hoz-padding-lr: 20px;
--menu-item-border-radius: 0px;
--menu-line-height: 32px;
--menu-font-size: 12px;
--menu-submenu-title-size: 12px;
--menu-padding-title-horizontal: 12px;
--menu-divider-width: 1px;
--menu-divider-margin-ver: 8px;
--menu-divider-margin-hoz: 12px;
--menu-icon-selected-size: 12px;
--menu-icon-selected-right: 4px;
--menu-icon-size: 8px;
--menu-hoz-icon-size: 12px;
--menu-icon-margin: 4px;
--menu-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
--menu-color: #333333;
--menu-divider-style: solid;
--menu-divider-color: #E6E7EB;
--menu-background: #FFFFFF;
--menu-arrow-color: #666666;
--menu-background-selected: #FFFFFF;
--menu-color-selected: #333333;
--menu-icon-selected-color: #5584FF;
--menu-background-hover: #F2F3F7;
--menu-color-hover: #333333;
--menu-arrow-color-hover: #333333;
--menu-arrow-right: 10px;
--menu-icon-selected-hover-color: #5584FF;
--menu-color-disabled: #CCCCCC;
--menu-select-icon-content: "\e632";
--menu-fold-icon-content: "\e63d";
--menu-unfold-icon-content: "";
--menu-popupfold-icon-content: "\e619";
}
