:root {
--balloon-size-max-width: 300px;
--balloon-size-padding-right: 16px;
--balloon-size-padding-closable-right: 40px;
--balloon-size-padding-top: 16px;
--balloon-size-header-margin-bottom: 8px;
--balloon-title-font-size: 16px;
--balloon-title-font-weight: bold;
--balloon-content-font-size: 12px;
--balloon-content-font-weight: normal;
--balloon-normal-border-width: 1px;
--balloon-primary-border-width: 1px;
--balloon-tooltip-border-width: 1px;
--balloon-tooltip-content-font-size: 12px;
--balloon-tooltip-content-font-weight: normal;
--balloon-size-close: 12px;
--balloon-size-close-margin-top: 12px;
--balloon-size-close-margin-right: 12px;
--balloon-size-arrow-size: 12px;
--balloon-size-arrow-margin: 12px;
--balloon-tooltip-size-padding-top: 8px;
--balloon-tooltip-size-padding-right: 8px;
--balloon-tooltip-size-padding-bottom: 8px;
--balloon-tooltip-size-padding-left: 8px;
--balloon-size-padding: 16px 16px;
--balloon-size-closable-padding: 16px 40px 16px 16px;
--balloon-border-style: solid;
--balloon-corner: 3px;
--balloon-normal-color-bg: #FFFFFF;
--balloon-normal-color-border: #DCDEE3;
--balloon-normal-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
--balloon-normal-color: #333333;
--balloon-normal-color-close: #999999;
--balloon-normal-color-close-hover: #666666;
--balloon-primary-color-bg: #E3F2FD;
--balloon-primary-color-border: #4494F9;
--balloon-primary-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
--balloon-primary-color: #333333;
--balloon-primary-color-close: #999999;
--balloon-primary-color-close-hover: #333333;
--balloon-tooltip-color-bg: #F2F3F7;
--balloon-tooltip-shadow: none;
--balloon-tooltip-color-border: #DCDEE3;
--balloon-tooltip-border-style: solid;
--balloon-tooltip-color: #333333;
--balloon-shadow-top: -1px -1px 1px 0px rgba(0, 0, 0, 0.1);
--balloon-shadow-right: 1px -1px 1px 0px rgba(0, 0, 0, 0.1);
--balloon-shadow-bottom: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
--balloon-shadow-left: -1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
