.custom-tab-item {
    padding: 10px;
}

.tab-title {
    display: flex;
    align-items: center;
}
.tab-img {
    margin-right: 8px;
    width: 20px;
}
.tab-desc {
    margin: 10px 0 0 0;
    font-size: 12px;
}
.next-tabs-content {
    color: #333;
    font-size: 12px;
    padding: 12px;
}
