{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": ["@alifd/eslint-config-next", "./a11y.eslintrc", "prettier", "plugin:@typescript-eslint/recommended"],
    "rules": {
        "valid-jsdoc": "off",
        "max-statements": "off",
        "max-len": "off",
        "no-unused-vars": 1,
        "import/prefer-default-export": 0
    }
}
