{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": ["@alifd/eslint-config-next", "./a11y.eslintrc", "prettier"],
    "rules": {
        "valid-jsdoc": "off",
        "max-statements": "off",
        "max-len": "off",
        "no-unused-vars": 1
    }
}
