{
    "env": {
        "es6": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": ["@alifd/eslint-config-next", "plugin:@typescript-eslint/recommended", "prettier"],
    "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "18"
        }
    },
    "overrides": [
        {
            "files": ["./components/**/__tests__/**/*.ts", "./components/**/__tests__/**/*.tsx"],
            "extends": ["plugin:cypress/recommended"],
            "plugins": ["cypress"]
        },
        {
            "files": ["./components/**"],
            "extends": ["./a11y.eslintrc"],
            "excludedFiles": ["**/__tests__/**", "**/__docs__/**"]
        }
    ],
    "rules": {
        "tsdoc/syntax": "error",
        "valid-jsdoc": "off",
        "max-statements": "off",
        "max-len": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-explicit-any": ["error", { "ignoreRestArgs": true }],
        "@typescript-eslint/ban-ts-comment": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "error",
        "react/no-deprecated": "error",
        "react/no-unsafe": "error",
        "react/jsx-filename-extension": ["error", { "extensions": [".tsx", ".jsx"] }],
        "react/prefer-stateless-function": "off",
        "react/sort-comp": [
            "warn",
            {
                "order": [
                    "static-variables",
                    "static-methods",
                    "lifecycle",
                    "everything-else",
                    "render"
                ],
                "groups": {
                    "lifecycle": [
                        "displayName",
                        "propTypes",
                        "defaultProps",
                        "contextTypes",
                        "childContextTypes",
                        "mixins",
                        "statics",
                        "constructor",
                        "getDefaultProps",
                        "state",
                        "getInitialState",
                        "getChildContext",
                        "getDerivedStateFromProps",
                        "componentWillMount",
                        "UNSAFE_componentWillMount",
                        "componentDidMount",
                        "componentWillReceiveProps",
                        "UNSAFE_componentWillReceiveProps",
                        "shouldComponentUpdate",
                        "componentWillUpdate",
                        "UNSAFE_componentWillUpdate",
                        "getSnapshotBeforeUpdate",
                        "componentDidUpdate",
                        "componentDidCatch",
                        "componentWillUnmount"
                    ]
                }
            }
        ]
    }
}
