sudo: required

language: node_js

node_js:
  - 12

install:
  - npm install
  - npm install -g codecov

before_script:
  - npm i -g npm

script:
  - npm run eslint
  - npm run stylelint
  - npm run test:a11y
  - npm run test:v2
  - npm test
  - codecov

after_success:
    - bash <(curl -s https://codecov.io/bash)
