:root {
--calendar-fullscreen-header-margin-bottom: 8px;
--calendar-fullscreen-table-head-font-weight: bold;
--calendar-fullscreen-table-head-font-size: 16px;
--calendar-fullscreen-table-head-padding-r: 12px;
--calendar-fullscreen-table-head-padding-b: 4px;
--calendar-fullscreen-table-cell-font-size: 14px;
--calendar-fullscreen-table-cell-boder-top-width: 2px;
--calendar-fullscreen-table-cell-margin-tb: 0px;
--calendar-fullscreen-table-cell-margin-lr: 4px;
--calendar-fullscreen-table-cell-padding-tb: 4px;
--calendar-fullscreen-table-cell-padding-lr: 8px;
--calendar-fullscreen-table-cell-min-height: 80px;
--calendar-fullscreen-table-head-color: #333333;
--calendar-fullscreen-table-cell-normal-background: #FFFFFF;
--calendar-fullscreen-table-cell-normal-color: #333333;
--calendar-fullscreen-table-cell-normal-border-color: #DCDEE3;
--calendar-fullscreen-table-cell-hover-background: #DEE8FF;
--calendar-fullscreen-table-cell-hover-color: #5584FF;
--calendar-fullscreen-table-cell-hover-border-color: #5584FF;
--calendar-fullscreen-table-cell-select-background: #DEE8FF;
--calendar-fullscreen-table-cell-select-color: #5584FF;
--calendar-fullscreen-table-cell-select-border-color: #5584FF;
--calendar-fullscreen-table-cell-select-font-weight: bold;
--calendar-fullscreen-table-cell-current-background: #FFFFFF;
--calendar-fullscreen-table-cell-current-color: #5584FF;
--calendar-fullscreen-table-cell-current-border-color: #5584FF;
--calendar-fullscreen-table-cell-current-font-weight: bold;
--calendar-fullscreen-table-cell-other-background: transparent;
--calendar-fullscreen-table-cell-other-color: #CCCCCC;
--calendar-fullscreen-table-cell-other-border-color: transparent;
--calendar-fullscreen-table-cell-disabled-background: #F7F8FA;
--calendar-fullscreen-table-cell-disabled-color: #CCCCCC;
--calendar-fullscreen-table-cell-disabled-border-color: #E6E7EB;
--calendar-card-header-margin-bottom: 8px;
--calendar-card-table-head-font-size: 12px;
--calendar-card-table-head-font-weight: normal;
--calendar-card-table-cell-font-size: 12px;
--calendar-card-table-cell-date-border-radius: 3px;
--calendar-card-table-cell-date-width: 24px;
--calendar-card-table-cell-date-height: 24px;
--calendar-card-table-cell-month-border-radius: 3px;
--calendar-card-table-cell-month-width: 60px;
--calendar-card-table-cell-month-height: 24px;
--calendar-card-table-cell-year-border-radius: 3px;
--calendar-card-table-cell-year-width: 48px;
--calendar-card-table-cell-year-height: 24px;
--calendar-card-table-head-color: #999999;
--calendar-card-table-cell-corner: 0px;
--calendar-card-table-cell-normal-background: #FFFFFF;
--calendar-card-table-cell-normal-color: #666666;
--calendar-card-table-cell-normal-border-color: #FFFFFF;
--calendar-card-table-cell-hover-background: #DEE8FF;
--calendar-card-table-cell-hover-color: #5584FF;
--calendar-card-table-cell-hover-border-color: #DEE8FF;
--calendar-card-table-cell-select-background: #5584FF;
--calendar-card-table-cell-select-color: #FFFFFF;
--calendar-card-table-cell-select-border-color: #5584FF;
--calendar-card-table-cell-select-font-weight: bold;
--calendar-card-table-cell-other-background: #FFFFFF;
--calendar-card-table-cell-other-color: #CCCCCC;
--calendar-card-table-cell-other-border-color: #FFFFFF;
--calendar-card-table-cell-disabled-background: #F7F8FA;
--calendar-card-table-cell-disabled-color: #CCCCCC;
--calendar-card-table-cell-disabled-border-color: #F7F8FA;
--calendar-card-table-cell-current-background: #FFFFFF;
--calendar-card-table-cell-current-color: #5584FF;
--calendar-card-table-cell-current-border-color: transparent;
--calendar-card-table-cell-current-font-weight: bold;
--calendar-card-table-cell-inrange-background: #DEE8FF;
--calendar-card-table-cell-inrange-color: #5584FF;
--calendar-card-table-cell-inrange-border-color: #DEE8FF;
--calendar-panel-header-margin-bottom: 8px;
--calendar-panel-header-height: 32px;
--calendar-panel-header-border-bottom-width: 1px;
--calendar-panel-header-background: #5584FF;
--calendar-panel-header-border-bottom-color: transparent;
--calendar-btn-date-font-weight: bold;
--calendar-btn-date-margin-lr: 4px;
--calendar-btn-arrow-single-offset-lr: 28px;
--calendar-btn-arrow-double-offset-lr: 8px;
--calendar-btn-arrow-size: 12px;
--calendar-btn-arrow-color: #FFFFFF;
--calendar-btn-arrow-color-hover: #FFFFFF;
--calendar-btn-date-color: #FFFFFF;
--calendar-btn-date-color-hover: #FFFFFF;
--calendar-btn-arrow-content-prev: "\e61d";
--calendar-btn-arrow-content-next: "\e619";
--calendar-btn-arrow-content-prev-super: "\e659";
--calendar-btn-arrow-content-next-super: "\e65e";
}
