:root {
--countDefault: 1;
--durationSmallDefault: 0.2s;
--durationDefault: 0.3s;
--motion-duration-standard-out: 250ms;
--durationBigDefault: 0.35s;
--delayDefault: 0s;
--functionDefault: cubic-bezier(0.23, 1, 0.32, 1);
--fillDefault: both;
--visibilityDefault: hidden;
--zoom-big-func: cubic-bezier(0, 0, 0.2, 1);
--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
}
