:root {
--timeline-item-node-size: 16px;
--timeline-item-custom-node-size: 40px;
--timeline-item-custom-node-font-size: 12px;
--timeline-item-node-padding: 4px;
--timeline-item-dot-size: 8px;
--timeline-item-icon-size: 12px;
--timeline-item-tail-size: 1px;
--timeline-item-left-content-width: 80px;
--timeline-item-content-margin-left: 12px;
--timeline-item-body-margin-top: 4px;
--timeline-item-title-font-size: 12px;
--timeline-item-title-font-weight: bold;
--timeline-item-title-margin-top: 4px;
--timeline-item-time-margin-top: 4px;
--timeline-item-time-margin-bottom: 12px;
--timeline-item-body-font-size: 12px;
--timeline-item-left-body-font-size: 12px;
--timeline-item-time-font-size: 12px;
--timeline-item-folder-font-size: 12px;
--timeline-item-folder-margin-top: 4px;
--timeline-item-folder-margin-bottom: 4px;
--timeline-item-title-color: #333333;
--timeline-item-body-color: #666666;
--timeline-item-left-body-color: #999999;
--timeline-item-time-color: #999999;
--timeline-item-tail-color: #DCDEE3;
--timeline-item-done-dot-size: 8px;
--timeline-item-done-background: #C4C6CF;
--timeline-item-done-color: #FFFFFF;
--timeline-item-process-dot-size: 8px;
--timeline-item-process-background: #5584FF;
--timeline-item-process-color: #FFFFFF;
--timeline-item-success-dot-size: 8px;
--timeline-item-success-background: #46BC15;
--timeline-item-success-color: #FFFFFF;
--timeline-item-error-dot-size: 8px;
--timeline-item-error-background: #FF3000;
--timeline-item-error-color: #FFFFFF;
}
