@import "../core/index-noreset";

@import "scss/variable";
@import "scss/normalize";

@import "../date-picker-2/scss/picker.scss";
@import "./rtl.scss";

#{$calendar2-prefix} {
    font-size: 12px;
    user-select: none;
    background: #fff;

    &-header {
        display: flex;
    }

    &-table {
        width: 100%;
        table-layout: fixed;
    }

    &-cell {
        cursor: pointer;
        position: relative;
    }

    &-cell::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: 1;
        height: 24px;
        transform: translateY(-50%);
    }

    &-cell-inner {
        position: relative;
        z-index: 2;
        color: rgba(0, 0, 0, 0.25);
        outline: none;
        border: 1px solid transparent;
    }

    &-cell-current {
        color: #585d66;
    }

    &-cell:hover {
        #{$calendar2-prefix}-cell-current {
            background: #edeff2;
        }
    }

    &-cell-today {
        color: $color-brand1-9;
    }

    &-fullscreen,
    &-card {
        #{$calendar2-prefix}-header {
            padding-top: 12px;
            padding-bottom: 12px;

            &-actions {
                margin-left: auto;

                & > * {
                    margin-left: 8px;
                }
            }
        }
    }

    &-card,
    &-panel {
        #{$calendar2-prefix} {
            min-height: 150px;

            &-table {
                th,
                td {
                    font-weight: 400;
                    text-align: center;
                    padding: 3px 0;
                }
            }

            &-cell-inner {
                cursor: pointer;
                position: relative;
                z-index: 2;
                display: inline-block;
                min-width: 24px;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                transition: background-color 0.2s, border 0.2s;

                &#{$calendar2-prefix}-cell-selected#{$calendar2-prefix}-cell-current {
                    color: #fff;
                    background: $color-brand1-9;
                }

                &#{$calendar2-prefix}-cell-disabled,
                &#{$calendar2-prefix}-cell-disabled#{$calendar2-prefix}-cell-current {
                    color: #c4c7cc;
                    background: #f5f7fa;
                }
            }

            &-table-month,
            &-table-year,
            &-table-quarter,
            &-table-decade {
                #{$calendar2-prefix}-cell-inner {
                    min-width: 80px;
                }
            }
        }
    }

    &-fullscreen {
        #{$calendar2-prefix} {
            &-cell-value,
            &-table th {
                text-align: right;
            }

            &-table th {
                padding: 0 8px 4px;
            }

            &-cell-inner {
                height: 80px;
                border-top: 2px solid #dcdfe6;
                margin: 0 4px;
                padding: 4px 8px 0;

                &#{$calendar2-prefix}-cell {
                    &-selected {
                        border-top-color: $color-brand1-9;
                        background: $color-brand1-9;
                    }
                }
            }
        }
    }

    &-card {
        #{$calendar2-prefix} {
            &-header {
                padding-right: 8px;
                padding-left: 8px;
            }
        }
    }
}
