:root {
--color-brand1-1: #DEE8FF;
--color-brand1-6: #5584FF;
--color-brand1-9: #3E71F7;
--color-success-1: #E4FDDA;
--color-success-2: #CDF2BE;
--color-success-3: #46BC15;
--color-success-4: #41A716;
--color-notice-1: #E3F2FD;
--color-notice-2: #BAD9FF;
--color-notice-3: #4494F9;
--color-notice-4: #2E7DE0;
--color-warning-1: #FFF3E0;
--color-warning-2: #FFE6BD;
--color-warning-3: #FF9300;
--color-warning-4: #EB7E10;
--color-error-1: #FFECE4;
--color-error-2: #FFC8B2;
--color-error-3: #FF3000;
--color-error-4: #E72B00;
--color-help-1: #E3FFF8;
--color-help-2: #C0ECE2;
--color-help-3: #01C1B2;
--color-help-4: #01A79A;
--color-link-1: #5584FF;
--color-link-2: #5584FF;
--color-link-3: #3E71F7;
--color-other-1: #FFEB3B;
--color-other-2: #FCCC12;
--color-other-3: #EABB06;
--color-line1-1: #E6E7EB;
--color-line1-2: #DCDEE3;
--color-line1-3: #C4C6CF;
--color-line1-4: #A0A2AD;
--color-fill1-1: #F7F8FA;
--color-fill1-2: #F2F3F7;
--color-fill1-3: #EBECF0;
--color-fill1-4: #E2E4E8;
--color-text1-1: #CCCCCC;
--color-text1-2: #999999;
--color-text1-3: #666666;
--color-text1-4: #333333;
--color-data1-1: #00DCCD;
--color-data1-2: #506FED;
--color-data1-3: #AE66FC;
--color-data1-4: #FF445F;
--color-data1-5: #FF934D;
--color-data1-6: #FFD74D;
--color-data1-7: #4DDE6D;
--color-data1-8: #18B1F7;
--color-gradient-1: linear-gradient(270deg, rgb(121, 232, 199) 0%, rgb(8, 194, 158) 100%);
--color-gradient-2: linear-gradient(270deg, rgb(125, 238, 255) 0%, rgb(3, 193, 253) 100%);
--color-gradient-3: linear-gradient(270deg, rgb(255, 237, 117) 0%, rgb(245, 203, 34) 100%);
--color-gradient-4: linear-gradient(270deg, rgb(255, 163, 166) 0%, rgb(245, 39, 67) 100%);
}
