:root {
--icon-xxs: 8px;
--icon-xs: 12px;
--icon-s: 16px;
--icon-m: 20px;
--icon-l: 24px;
--icon-xl: 32px;
--icon-xxl: 48px;
--icon-xxxl: 64px;
--icon-content-smile: "";
--icon-content-cry: "";
--icon-content-success: "";
--icon-content-warning: "";
--icon-content-prompt: "";
--icon-content-error: "";
--icon-content-help: "";
--icon-content-clock: "";
--icon-content-success-filling: "";
--icon-content-delete-filling: "";
--icon-content-favorites-filling: "";
--icon-content-add: "";
--icon-content-minus: "";
--icon-content-arrow-up: "";
--icon-content-arrow-down: "";
--icon-content-arrow-left: "";
--icon-content-arrow-right: "";
--icon-content-arrow-double-left: "";
--icon-content-arrow-double-right: "";
--icon-content-switch: "";
--icon-content-sorting: "";
--icon-content-descending: "";
--icon-content-ascending: "";
--icon-content-select: "";
--icon-content-semi-select: "";
--icon-content-loading: "";
--icon-content-search: "";
--icon-content-close: "";
--icon-content-ellipsis: "";
--icon-content-picture: "";
--icon-content-calendar: "";
--icon-content-ashbin: "";
--icon-content-upload: "";
--icon-content-download: "";
--icon-content-set: "";
--icon-content-edit: "";
--icon-content-refresh: "";
--icon-content-filter: "";
--icon-content-attachment: "";
--icon-content-account: "";
--icon-content-email: "";
--icon-content-atm: "";
--icon-content-copy: "";
--icon-content-toggle-left: "";
--icon-content-toggle-right: "";
--icon-content-eye: "";
--icon-content-eye-close: "";
--icon-content-unlock: "";
--icon-content-lock: "";
--icon-content-exit: "";
--icon-content-chart-bar: "";
--icon-content-chart-pie: "";
--icon-content-form: "";
--icon-content-detail: "";
--icon-content-list: "";
--icon-content-dashboard: "";
}
