:root {
--icon-xxs: 8px;
--icon-xs: 12px;
--icon-s: 16px;
--icon-m: 20px;
--icon-l: 24px;
--icon-xl: 32px;
--icon-xxl: 48px;
--icon-xxxl: 64px;
--icon-content-smile: "\e65f";
--icon-content-cry: "\e65d";
--icon-content-success: "\e60a";
--icon-content-warning: "\e60b";
--icon-content-prompt: "\e60c";
--icon-content-error: "\e60d";
--icon-content-help: "\e673";
--icon-content-clock: "\e621";
--icon-content-success-filling: "\e63a";
--icon-content-delete-filling: "\e623";
--icon-content-favorites-filling: "\e60e";
--icon-content-add: "\e655";
--icon-content-minus: "\e601";
--icon-content-arrow-up: "\e625";
--icon-content-arrow-down: "\e63d";
--icon-content-arrow-left: "\e61d";
--icon-content-arrow-right: "\e619";
--icon-content-arrow-double-left: "\e659";
--icon-content-arrow-double-right: "\e65e";
--icon-content-switch: "\e6b3";
--icon-content-sorting: "\e634";
--icon-content-descending: "\e61f";
--icon-content-ascending: "\e61e";
--icon-content-select: "\e632";
--icon-content-semi-select: "\e633";
--icon-content-loading: "\e646";
--icon-content-search: "\e656";
--icon-content-close: "\e626";
--icon-content-ellipsis: "\e654";
--icon-content-picture: "\e631";
--icon-content-calendar: "\e607";
--icon-content-ashbin: "\e639";
--icon-content-upload: "\e7ee";
--icon-content-download: "\e628";
--icon-content-set: "\e683";
--icon-content-edit: "\e63b";
--icon-content-refresh: "\e677";
--icon-content-filter: "\e627";
--icon-content-attachment: "\e665";
--icon-content-account: "\e608";
--icon-content-email: "\e605";
--icon-content-atm: "\e606";
--icon-content-copy: "\e60f";
--icon-content-toggle-left: "\e602";
--icon-content-toggle-right: "\e603";
--icon-content-eye: "\e611";
--icon-content-eye-close: "\e600";
--icon-content-unlock: "\e615";
--icon-content-lock: "\e617";
--icon-content-exit: "\e616";
--icon-content-chart-bar: "\e612";
--icon-content-chart-pie: "\e613";
--icon-content-form: "\e7fb";
--icon-content-detail: "\e7f8";
--icon-content-list: "\e7f9";
--icon-content-dashboard: "\e7fa";
}
