@import "../core/index-noreset.scss";
@import "./scss/mixin";
@import "./scss/variable";

#{$split-btn-prefix} {
    display: inline-block;
    position: relative;

    &-spacing-tb {
        padding: $popup-spacing-tb 0;
    }

    &-trigger {
        .#{$css-prefix}icon {
            transition: transform $motion-duration-immediately $motion-linear;
        }

        &.#{$css-prefix}expand #{$split-btn-prefix}-symbol-fold {
            @if get-compiling-value($split-btn-unfold-icon-content) != get-compiling-value($icon-reset) {
                &::before {
                    content: $split-btn-unfold-icon-content;
                }
            } @else {
                transform: rotate(180deg);
            }
        }

        &.#{$css-prefix}btn-normal:not(:disabled):not(.disabled) .#{$css-prefix}icon {
            color: $split-btn-trigger-normal-icon-color;
        }

        &.#{$css-prefix}small {
            padding-left: $s-1;
            padding-right: $s-1;
        }

        &.#{$css-prefix}medium {
            padding-left: $s-2;
            padding-right: $s-2;
        }
    }

    &-symbol-fold {
        &::before {
            content: $split-btn-fold-icon-content;
        }
    }

    // --------- this is for config platform
    &-symbol-unfold::before {
        content: $split-btn-unfold-icon-content;
    }
    // --------- this is for config platform
}
