:root {
--slick-dots-position-bottom: 12px;
--slick-dots-position-right: 20px;
--slick-dots-width: 8px;
--slick-dots-height: 8px;
--slick-dots-margin-lr: 4px;
--slick-dots-margin-tb: 0px;
--slick-arrow-width-m: 28px;
--slick-arrow-width-l: 48px;
--slick-arrow-height-m: 56px;
--slick-arrow-height-l: 96px;
--slick-ver-arrow-width-m: 56px;
--slick-ver-arrow-width-l: 96px;
--slick-ver-arrow-height-m: 28px;
--slick-ver-arrow-height-l: 48px;
--slick-arrow-icon-m: 20px;
--slick-arrow-icon-l: 32px;
--slick-arrow-position-lr-m: 4px;
--slick-arrow-position-lr-l: 8px;
--slick-ver-arrow-position-tb-m: 4px;
--slick-ver-arrow-position-tb-l: 16px;
--slick-track-padding-lr: 24px;
--slick-ver-track-padding-tb: 24px;
--slick-dots-background-color-normal: #000000;
--slick-dots-background-color-hover: #FFFFFF;
--slick-dots-background-color-selected: #5584FF;
--slick-dots-background-opacity-normal: 0.32;
--slick-dots-background-opacity-hover: 0.5;
--slick-dots-background-opacity-selected: 1;
--slick-dots-border-width: 0px;
--slick-dots-border-radius: 50%;
--slick-dots-border-color-normal: #FFFFFF;
--slick-dots-border-color-hover: #FFFFFF;
--slick-dots-border-color-selected: #FFFFFF;
--slick-dots-border-opacity-normal: 1;
--slick-dots-border-opacity-hover: 1;
--slick-dots-border-opacity-selected: 1;
--slick-arrow-icon-color-normal: #FFFFFF;
--slick-arrow-icon-color-normal-outer: #666666;
--slick-arrow-icon-color-hover: #FFFFFF;
--slick-arrow-icon-color-hover-outer: #333333;
--slick-arrow-icon-color-disabled: #CCCCCC;
--slick-arrow-icon-color-disabled-outer: #CCCCCC;
--slick-arrow-bg-color-normal: #000000;
--slick-arrow-bg-color-hover: #000000;
--slick-arrow-bg-color-disabled: #F7F8FA;
--slick-arrow-bg-opacity-normal: 0.2;
--slick-arrow-bg-opacity-hover: 0.4;
--slick-arrow-bg-opacity-disabled: 0.5;
--slick-arrow-bg-color-normal-outer: transparent;
--slick-arrow-bg-color-hover-outer: transparent;
--slick-arrow-bg-color-disabled-outer: transparent;
--slick-arrow-bg-opacity-normal-outer: 0.32;
--slick-arrow-bg-opacity-hover-outer: 0.32;
--slick-arrow-bg-opacity-disabled-outer: 0.32;
--slick-arrow-corner-radius-outer: 0px;
}
