@import "../core/index-noreset.scss";
// @import "../input/scss/variable.scss";
// @import "../input/scss/mixin.scss";
// @import "../time-picker-2/scss/variable.scss";

@import "../calendar-2/scss/variable.scss";
@import "../calendar-2/scss/mixin.scss";
@import "../input/scss/variable.scss";
@import "../input/scss/mixin.scss";

@import "scss/variable";

// @import "scss/mixin";

@import "scss/picker.scss";
// @import "scss/range-picker.scss";
// @import "./rtl.scss";

.#{$css-prefix} {
    &picker-overlay {
        vertical-align: top;
        border-radius: 2px;
        padding: 4px 0;
    }
    &picker-overlay-showtime {
        padding: 12px 0;
    }

    &picker-wrapper {
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
        background-color: $color-white;
    }

    &picker {
        &-input {
            display: inline-flex;
            align-items: center;
            outline: none;
            box-sizing: border-box;
            border: $input-border-width solid $input-border-color;
            vertical-align: middle;

            #{$input-prefix} {
                border: none;
                width: auto;
                height: 100%;
                input {
                    height: 100%;
                }
            }
            &#{$picker}-input-small {
                @include input-size(
                    $form-element-small-height,
                    $input-s-padding,
                    $form-element-small-font-size,
                    $input-s-label-padding-left,
                    $input-s-icon-padding-right
                );
                @include input-icon-size($form-element-small-icon-size);
                @include input-border-radius($form-element-small-corner);
            }

            &#{$picker}-input-medium {
                @include input-size(
                    $form-element-medium-height,
                    $input-m-padding,
                    $form-element-medium-font-size,
                    $input-m-label-padding-left,
                    $input-m-icon-padding-right
                );
                @include input-icon-size($form-element-medium-icon-size);
                @include input-border-radius($form-element-medium-corner);
            }

            &#{$picker}-input-large {
                @include input-size(
                    $form-element-large-height,
                    $input-l-padding,
                    $form-element-large-font-size,
                    $input-l-label-padding-left,
                    $input-l-icon-padding-right
                );
                @include input-icon-size($form-element-large-icon-size);
                @include input-border-radius($form-element-large-corner);
            }

            &:hover {
                border-color: $input-hover-border-color;
                background-color: $input-hover-bg-color;
            }

            &#{$picker}-input-focused {
                border-color: $input-focus-border-color;
                background-color: $input-focus-bg-color;
                box-shadow: 0 0 0 2px $color-calculate-input-focus-shadow;
            }

            &#{$picker}-input-noborder {
                border-color: transparent !important;
                box-shadow: none !important;
            }
        }

        .#{$css-prefix}range-picker-right {
            #{$picker}-header-left-btn {
                visibility: hidden;
            }
        }

        .#{$css-prefix}range-picker-left {
            #{$picker}-header-right-btn {
                visibility: hidden;
            }
        }
    }

    &range-picker2-input-separator {
        color: #c4c7cc;
        font-size: 12px;
    }

    &range-picker2-panel-double,
    &range-picker2-panel,
    &date-picker2-panel {
        display: inline-flex;
    }

    &range-picker2-panel-double {
        .#{$css-prefix}range-picker-right .#{$css-prefix}calendar2-header-left-btn,
        .#{$css-prefix}range-picker-left .#{$css-prefix}calendar2-header-right-btn {
            visibility: hidden;
        }
    }
}

#{$range-picker2-prefix}-arrow {
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin-left: 16.5px;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.06);
    transition: left 0.3s ease-out;
    &:after {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 10px;
        height: 10px;
        border-color: #fff #fff transparent transparent;
        border-style: solid;
        border-width: 5px;
        content: "";
    }
}

#{$date-picker2-prefix}-tl-bl {
    #{$range-picker2-prefix}-arrow {
        top: 6px;
    }
}
#{$date-picker2-prefix}-bl-tl {
    #{$range-picker2-prefix}-arrow {
        bottom: 6px;
        transform: rotate(135deg);
    }
}

#{$calendar2-prefix}-right {
    border-left: 1px solid #f2f3f7;
    #{$calendar2-prefix}-body {
        padding-right: 0;
        padding-left: 0;
    }
}

.#{$css-prefix}range-picker2-panel {
    #{$calendar2-prefix}-cell-disabled {
        #{$cell-inner} {
            @include calendar-disabled;
        }
    }
    #{$calendar2-prefix}-cell-current:not(#{$calendar2-prefix}-cell-disabled) {
        &#{$calendar2-prefix}-cell-selected {
            &:before,
            #{$cell-inner} {
                color: #333;
                background: $color-brand1-1;
            }

            &#{$calendar2-prefix}-cell-range-begin:before {
                left: 50%;
            }
            &#{$calendar2-prefix}-cell-range-end:before {
                right: 50%;
            }

            &#{$calendar2-prefix}-cell-range-begin,
            &#{$calendar2-prefix}-cell-range-end {
                #{$cell-inner} {
                    @include calendar-selected;
                }
            }
        }

        &#{$calendar2-prefix}-cell-hover:after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 0;
            left: 1px;
            z-index: 0;
            height: 24px;
            transform: translateY(-50%);
            border-top: 1px dashed $color-brand1-9;
            border-bottom: 1px dashed $color-brand1-9;
        }
        &#{$calendar2-prefix}-cell-hover-begin:after {
            left: 6px;
            border-top: 1px dashed $color-brand1-9;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &#{$calendar2-prefix}-cell-hover-end:after {
            right: 6px;
            border-top: 1px dashed $color-brand1-9;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
    }

    tr {
        td:first-of-type#{$calendar2-prefix}-cell-hover:after {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px dashed $color-brand1-9;
        }
        td:last-of-type#{$calendar2-prefix}-cell-hover:after {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px dashed $color-brand1-9;
        }
    }
}
