@import "../core/index-noreset.scss";
// @import "../input/scss/variable.scss";
// @import "../input/scss/mixin.scss";
// @import "../time-picker-2/scss/variable.scss";

@import "../calendar-2/scss/variable.scss";
@import "../input/scss/variable.scss";
@import "../input/scss/mixin.scss";

@import "scss/variable";

// @import "scss/mixin";

@import "scss/picker.scss";
// @import "scss/range-picker.scss";
// @import "./rtl.scss";

.#{$css-prefix} {
    &picker-overlay {
        overflow: hidden;
        vertical-align: top;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .12);
        transition: margin .3s;
    }

    &picker {
        #{$calendar-prefix}-table {
            width: 252px;
            content: #{$input-prefix};
        }

        &-input {
            outline: none;
            height: 28px;
            box-sizing: border-box;
            #{$input-prefix} {
                border: none;
                width: auto;
                height: 100%;
                input {
                    height: 100%;
                }
            }
        }

        &-input {
            display: inline-flex;
            align-items: center;
            border: $input-border-width solid $input-border-color;
            @include input-border-radius($form-element-small-corner);
        }
    }

    &range-picker {
        display: inline-flex;
        &-input-separator {
            color: #C4C7CC;
            font-size: 12px;
        }

        &-right {
            #{$calendar-prefix}-header-left-btn {
                visibility: hidden;
            }
        }

        &-left {
            #{$calendar-prefix}-header-right-btn {
                visibility: hidden;
            }
        }
    }

    &date-picker-panel {
        display: inline-flex;
    }

    &range-picker-panel {
        display: inline-flex;

        #{$calendar-prefix}-cell-inner {
            &#{$calendar-prefix}-cell-selected#{$calendar-prefix}-cell-current {
                color: inherit;
                background: #E6FDFF;

                &#{$calendar-prefix}-cell-range-begin,
                &#{$calendar-prefix}-cell-range-end {
                    color: #FFF;
                    background: $color-brand1-9;
                }
            }

            &#{$calendar-prefix}-cell-hover {
                border: 1px dashed $color-brand1-9;
            }
        }
    }

    &date-time-picker-panel {
        #{$calendar-prefix} {
            border-right: 1px solid #F0F0F0;
        }
    }
}
