#{$date-picker2-prefix}-footer {
    width: min-content;
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-top: $date-picker2-footer-border-top-width $date-picker2-footer-border-top-style $date-picker2-footer-border-top-color;
    padding: $date-picker2-footer-padding-tb $date-picker2-footer-padding-lr;
    display: flex;
    min-height: $date-picker2-footer-min-height;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  
    &-preset > .#{$css-prefix}btn {
      margin-right: $date-picker2-footer-preset-btn-margin-right;
    }
  
    &-actions {
      margin-left: auto;
    }
  
    &-preset-only {
      width: 100%;
    }
  }
  