:root {
--table-normal-border-width: 1px;
--table-th-font-size: 12px;
--table-th-font-weight: normal;
--table-body-font-size: 12px;
--table-empty-padding: 32px;
--table-cell-padding-top: 12px;
--table-cell-padding-left: 16px;
--table-header-padding-top: 12px;
--table-header-padding-left: 16px;
--table-size-s-cell-padding-top: 8px;
--table-size-s-cell-padding-left: 8px;
--table-size-s-header-padding-top: 8px;
--table-size-s-header-padding-left: 8px;
--table-group-split: 8px;
--table-normal-border-color: #DCDEE3;
--table-normal-border-style: solid;
--table-th-bg: #EBECF0;
--table-th-color: #333333;
--table-sort-color: #333333;
--table-group-th-bg: #EBECF0;
--table-group-th-color: #333333;
--table-row-bg: #FFFFFF;
--table-row-color: #333333;
--table-td-gray: #F7F8FA;
--table-td-normal: #FFFFFF;
--table-empty-color: #A0A2AD;
--table-group-footer-bg: #EBECF0;
--table-group-footer-color: #333333;
--table-row-hover-bg: #F2F3F7;
--table-row-hover-color: #333333;
--table-row-selected-bg: #F2F3F7;
--table-row-selected-color: #333333;
--table-sort-color-current: #5584FF;
--table-expanded-ctrl-disabled-color: #999999;
--table-tree-fold-icon-content: "";
--table-tree-unfold-icon-content: "";
--table-expand-fold-icon-content: "";
--table-expand-unfold-icon-content: "";
}
