@charset "UTF-8";

// form mixins
// --------------------------------------------------

@mixin form-enhance($line-height) {
    .#{$css-prefix}rating,
    .#{$css-prefix}checkbox-wrapper,
    .#{$css-prefix}checkbox-group,
    .#{$css-prefix}radio-wrapper,
    .#{$css-prefix}radio-group {
        line-height: $line-height;
    }
}

@mixin form-preview($font-size, $line-height) {
    .#{$css-prefix}form-preview {
        font-size: $font-size;
        line-height: $line-height;
        &.#{$css-prefix}input-textarea {
            line-height: 1.4;
            margin-top: ($line-height - (1.4 * $font-size)) / 2;
        }
    }
}
