<% include partials/header %>

  <style>
    .markdown-body {
      font-size: 14px;
    }
    .markdown-body .hljs {
      font-size: 14px;
      padding: 0;
    }
  </style>
  <div class="next-demo-section">
    <div class="markdown-body">
      <%- readmeHTML %>
    </div>
  </div>

<% include partials/footer %>
