@import '../core/index-noreset.scss';
@import '../calendar2/scss/variable.scss';
@import '../calendar2/scss/mixin.scss';
@import '../input/scss/variable.scss';
@import '../input/scss/mixin.scss';
@import './scss/variable';

@import './scss/footer.scss';
@import './rtl.scss';

#{$date-picker2-prefix} {
  outline: none;
  display: inline-table;
  position: relative;
  width: inherit;

  &-overlay {
    vertical-align: top;
    padding: $date-picker2-overlay-padding-tb $date-picker2-overlay-padding-lr;
  }

  &-overlay-range {
    padding: $date-picker2-range-overlay-padding-tb $date-picker2-range-overlay-padding-lr;
  }

  &-wrapper {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
    background-color: $date-picker2-wrapper-background-color;
    border: $date-picker2-wrapper-border-width $date-picker2-wrapper-border-style $date-picker2-wrapper-border-color;
    border-radius: $date-picker2-wrapper-border-radius;

    #{$calendar2-prefix} {
      &-panel {
        border-radius: $date-picker2-wrapper-calendar2-panel-border-radius;
      }
      &-body {
        width: 272px;
      }
      &-cell::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0px;
        left: 0px;
        z-index: 1;
        height: $date-picker2-wrapper-calendar2-cell-before-height;
        transform: translateY(-50%);
      }
      &-cell:last-child::before {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        right: 8px;
      }
      &-cell:first-child::before {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        left: 8px;
      }
    }
  }

  &-input {
    display: inline-flex;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    border: $input-border-width $date-picker2-input-border-style $input-border-color;
    vertical-align: middle;
    width: inherit;
    background-color: $input-bg-color;

    #{$input-prefix} {
      border: none;
      // use flex-basis instead width to be compiable with safari
      flex-basis: 100%;
      height: 100%;
      width: 100%;
      input {
        height: 100%;
        width: auto;
      }
    }

    &#{$date-picker2-prefix}-input-small {
      @include input-size($form-element-small-height, $input-s-padding, $form-element-small-font-size, $input-s-label-padding-left, $input-s-icon-padding-right);
      @include input-icon-size($form-element-small-icon-size);
      @include input-border-radius($form-element-small-corner);
    }

    &#{$date-picker2-prefix}-input-medium {
      @include input-size($form-element-medium-height, $input-m-padding, $form-element-medium-font-size, $input-m-label-padding-left, $input-m-icon-padding-right);
      @include input-icon-size($form-element-medium-icon-size);
      @include input-border-radius($form-element-medium-corner);
    }

    &#{$date-picker2-prefix}-input-large {
      @include input-size($form-element-large-height, $input-l-padding, $form-element-large-font-size, $input-l-label-padding-left, $input-l-icon-padding-right);
      @include input-icon-size($form-element-large-icon-size);
      @include input-border-radius($form-element-large-corner);
    }

    &:hover {
      border-color: $input-hover-border-color;
      background-color: $input-hover-bg-color;
    }

    &#{$date-picker2-prefix}-input-focus {
      border-color: $input-focus-border-color;
      background-color: $input-focus-bg-color;
      box-shadow: 0 0 0 $input-focus-shadow-spread $color-calculate-input-focus-shadow;
    }

    &#{$date-picker2-prefix}-input-noborder {
      border-color: $date-picker2-input-noborder-border-color !important;
      box-shadow: none !important;
    }

    &#{$date-picker2-prefix}-input-disabled {
      @include input-disabled();
    }

    &#{$date-picker2-prefix}-input-error {
      border-color: $input-feedback-error-border-color;
    }
  }

  &-input-separator {
    color: $input-border-color;
    font-size: $date-picker2-separator-input-font-size;
    line-height: 12px;
    display: inline-block;
    min-width: $date-picker2-separator-input-min-width;
    text-align: center;
  }
}

.#{$css-prefix} {
  &range-picker2-panel,
  &date-picker2-panel {
    display: inline-flex;
  }

  &range-picker2-panel:not(.#{$css-prefix}range-picker2-panel-single) {
    .#{$css-prefix}range-picker-right .#{$css-prefix}calendar2-header-left-btn,
    .#{$css-prefix}range-picker-left .#{$css-prefix}calendar2-header-right-btn {
      visibility: hidden;
    }
  }
}

#{$range-picker2-prefix}-arrow {
  display: block;
  transform: translate(0, -50%) rotate(-45deg);
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  margin-left: 16.5px;
  border-color: $date-picker2-range-arrow-border-color-t $date-picker2-range-arrow-border-color-r $date-picker2-range-arrow-border-color-b $date-picker2-range-arrow-border-color-l;
  border-style: solid;
  border-width: 1px;
  transition: left 0.3s ease-out;
  background: $date-picker2-range-arrow-background;
}

#{$date-picker2-prefix}-tl-bl {
  #{$range-picker2-prefix}-arrow {
    top: 12.5px;
  }
}
#{$date-picker2-prefix}-bl-tl {
  #{$range-picker2-prefix}-arrow {
    bottom: 13px;
    transform: translate(0, 50%) rotate(135deg);
  }
}

.#{$css-prefix}date-time-picker-wrapper {
  border-left: $date-picker2-wrapper-picker-time-border-left-width $date-picker2-wrapper-picker-time-border-left-style $date-picker2-wrapper-picker-time-border-left-color;
  #{$calendar2-prefix}-body {
    padding-right: $date-picker2-wrapper-picker-time-calendar2-body-padding-right;
    padding-left: $date-picker2-wrapper-picker-time-calendar2-body-padding-left;
  }
}

#{$range-picker2-prefix}-panel:not(#{$range-picker2-prefix}-panel-single) {
  #{$calendar2-prefix}-cell-disabled {
    #{$calendar2-cell-inner} {
      @include calendar-disabled($date-picker2-range-calendar2-disabled-cell-inner-color, $date-picker2-range-calendar2-disabled-cell-inner-background);
    }
  }

  #{$calendar2-prefix}-cell-current {
    &#{$calendar2-prefix}-cell-selected {
      &::before {
        color: $date-picker2-range-calendar2-current-cell-selected-color;
        background: $date-picker2-range-calendar2-current-cell-selected-background;
      }
      #{$calendar2-cell-inner} {
        color: $date-picker2-range-calendar2-current-cell-selected-inner-color;
        background: $date-picker2-range-calendar2-current-cell-selected-inner-background;
      }

      &#{$calendar2-prefix}-cell-range-begin,
      &#{$calendar2-prefix}-cell-range-end {
        #{$calendar2-cell-inner} {
          z-index: 10;
          @include calendar-selected($date-picker2-range-calendar2-current-cell-selected-begin-inner-color, $date-picker2-range-calendar2-current-cell-selected-begin-inner-background);
        }
      }

      &#{$calendar2-prefix}-cell-range-begin::before {
        left: 50%;
      }
      &#{$calendar2-prefix}-cell-range-end::before {
        right: 50%;
      }
      &#{$calendar2-prefix}-cell-range-begin-single::before,
      &#{$calendar2-prefix}-cell-range-end-single::before {
        display: none;
      }
    }

    &#{$calendar2-prefix}-cell-hover {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: 2;
        height: $date-picker2-range-calendar2-current-cell-hover-height;
        transform: translateY(-50%);
        border-color: $date-picker2-range-calendar2-current-cell-hover-border-color-tb $date-picker2-range-calendar2-current-cell-hover-border-color-lr;
        border-style: dashed;
        border-width: 1px;
      }

      &#{$calendar2-prefix}-cell-hover-begin::after,
      &:first-child::after {
        left: 8px;
      }

      &#{$calendar2-prefix}-cell-hover-end::after,
      &:last-child::after {
        right: 8px;
      }

      &#{$calendar2-prefix}-cell-selected {
        &#{$calendar2-prefix}-cell-hover-begin::after {
          left: 8px;
        }
        &#{$calendar2-prefix}-cell-hover-end::after {
          right: 8px;
        }
      }

      &:first-of-type::after {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-left: $date-picker2-range-calendar2-current-cell-hover-border-left-width $date-picker2-range-calendar2-current-cell-hover-border-left-style $date-picker2-range-calendar2-current-cell-hover-border-left-color;
      }
      &:last-of-type::after {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: $date-picker2-range-calendar2-current-cell-hover-border-right-width $date-picker2-range-calendar2-current-cell-hover-border-right-style $date-picker2-range-calendar2-current-cell-hover-border-right-color;
      }
    }

    &#{$calendar2-prefix}-cell-edge-end {
      &::before {
        right: 8px;
      }
      &::after {
        right: 8px;
      }
      &#{$calendar2-prefix}-cell-hover {
        &::after {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          border-right: $date-picker2-range-calendar2-current-cell-end-edge-hover-border-right-width $date-picker2-range-calendar2-current-cell-end-edge-hover-border-right-style $date-picker2-range-calendar2-current-cell-end-edge-hover-border-right-color;
        }
      }
    }

    &#{$calendar2-prefix}-cell-hover-begin::after {
      border-top: $date-picker2-range-calendar2-current-cell-begin-hover-after-border-top-width $date-picker2-range-calendar2-current-cell-begin-hover-after-border-top-style $date-picker2-range-calendar2-current-cell-begin-hover-after-border-top-color;
      border-left: $date-picker2-range-calendar2-current-cell-begin-hover-after-border-left-width $date-picker2-range-calendar2-current-cell-begin-hover-after-border-left-style $date-picker2-range-calendar2-current-cell-begin-hover-after-border-left-color;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &#{$calendar2-prefix}-cell-hover-end::after {
      border-top: $date-picker2-range-calendar2-current-cell-end-hover-after-border-top-width $date-picker2-range-calendar2-current-cell-end-hover-after-border-top-style $date-picker2-range-calendar2-current-cell-end-hover-after-border-top-color;
      border-right: $date-picker2-range-calendar2-current-cell-end-hover-after-border-right-width $date-picker2-range-calendar2-current-cell-end-hover-after-border-right-style $date-picker2-range-calendar2-current-cell-end-hover-after-border-right-color;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  #{$calendar2-prefix}-cell-edge-end + #{$calendar2-prefix}-cell-current:not(#{$calendar2-prefix}-cell-disabled) {
    &::before,
    &::after {
      left: 8px;
    }

    &#{$calendar2-prefix}-cell-hover {
      &::after {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-left: $date-picker2-range-calendar2-end-edge-cell-hover-border-left-width $date-picker2-range-calendar2-end-edge-cell-hover-border-left-style $date-picker2-range-calendar2-end-edge-cell-hover-border-left-color;
      }
    }
  }
}

#{$calendar2-prefix}-table-week {
  #{$calendar2-prefix}-cell-hover::after {
    display: none;
  }

  tr:hover #{$calendar2-prefix}-cell:not(#{$calendar2-prefix}-cell-disabled):not(#{$calendar2-prefix}-cell-selected)::before {
    @include calendar-hover($date-picker2-calendar2-week-table-tr-hover-background);
  }

  #{$calendar2-prefix}-week-current {
    #{$calendar2-prefix}-cell#{$calendar2-prefix}-cell-selected {
      &::before,
      #{$calendar2-cell-inner} {
        color: $date-picker2-calendar2-week-table-current-cell-selected-color;
        background-color: $date-picker2-calendar2-week-table-current-cell-selected-background-color;
      }

      &:last-child,
      &:nth-child(2) {
        #{$calendar2-cell-inner} {
          @include calendar-selected($date-picker2-calendar2-week-table-current-cell-selected-inner-color, $date-picker2-calendar2-week-table-current-cell-selected-inner-background);
        }
      }
      &:nth-child(2)::before {
        left: 50%;
      }
      &:last-child::before {
        right: 50%;
      }
    }
  }

  tr:not(#{$calendar2-prefix}-week-current) {
    td#{$calendar2-prefix}-cell#{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
      &::before,
      #{$calendar2-cell-inner} {
        background-color: $date-picker2-calendar2-week-table-tr-td-cell-selected-background-color;
        color: $date-picker2-calendar2-week-table-tr-td-cell-selected-color;
      }
    }
  }
}

#{$range-picker2-prefix}-panel #{$calendar2-prefix}-week-current {
  #{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
    &:last-child,
    &:nth-child(2) {
      #{$calendar2-cell-inner} {
        background-color: $date-picker2-range-calendar2-selected-cell-inner-background-color;
        color: $date-picker2-range-calendar2-selected-cell-inner-color;
      }
    }
    &#{$calendar2-prefix}-cell-week-range-begin,
    &#{$calendar2-prefix}-cell-week-range-end {
      &:last-child,
      &:nth-child(2) {
        #{$calendar2-cell-inner} {
          @include calendar-selected($date-picker2-range-calendar2-selected-cell-begin-week-inner-color, $date-picker2-range-calendar2-selected-cell-begin-week-inner-background);
        }
      }
    }
  }
}
