:root {
--collapse-border-width: 1px;
--collapse-border-corner: 3px;
--collapse-border-color: #DCDEE3;
--collapse-panel-border-color: #DCDEE3;
--collapse-disabled-border-color: #E6E7EB;
--collapse-title-border-width: 1px;
--collapse-title-height: 20px;
--collapse-title-bg-color: #F2F3F7;
--collapse-title-hover-bg-color: #EBECF0;
--collapse-title-disabled-bg-color: #F2F3F7;
--collapse-title-font-color: #333333;
--collapse-title-font-disabled-color: #CCCCCC;
--collapse-title-hover-font-color: #333333;
--collapse-title-font-size: 14px;
--collapse-title-font-weight: normal;
--collapse-title-hover-font-weight: normal;
--collapse-title-padding-tb: 8px;
--collapse-icon-size: 8px;
--collapse-icon-color: #333333;
--collapse-icon-hover-color: #333333;
--collapse-icon-margin-r: 8px;
--collapse-icon-margin-l: 12px;
--collapse-icon-rotation-collapsed: 90deg;
--collapse-icon-rotation-expanded: 180deg;
--collapse-icon-rotation-collapsed-rtl: 270deg;
--collapse-content-bg-color: #FFFFFF;
--collapse-content-padding-x: 16px;
--collapse-content-padding-y: 12px;
--collapse-content-font-size: 12px;
--collapse-content-color: #666666;
--collapse-fold-icon-content: "\e619";
--collapse-unfold-icon-content: "";
}
