@import "../core/index-noreset";

@import "scss/variable";
@import "scss/normalize";
@import "scss/mixin";

@import "./rtl.scss";

// $calendar-cell-bg-hover: $color-brand1-1;

#{$calendar2-prefix} {
    font-size: 12px;
    user-select: none;
    background: #FFF;

    &-header {
        display: flex;
    }

    &-table {
        width: 100%;
        table-layout: fixed;
    }

    &-cell {
        cursor: pointer;
        position: relative;
    }

    #{$cell-inner} {
        color: $color-text1-1;
        outline: none;
        border: 1px solid transparent;
        min-width: 24px;
        position: relative;
        transition: background-color .2s, border .2s;
    }

    &-cell-disabled {
        // &::before,
        // #{$cell-inner} {
        //     @include calendar-disabled;
        // }
        &::before {
            @include calendar-disabled;
        }
    }

    &-fullscreen,
    &-panel,
    &-card {
        #{$calendar2-prefix}-header {
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid $color-line1-1;
            // &-actions {
            //     margin-left: auto;
            // }

            // &-ranges,
            // &-actions {
            //     & > *:not(:first-child) {
            //         margin-left: 8px;
            //     }
            // }

            // &-ranges-only {
            //     text-align: center;
            //     width: 100%;
            // }

            &-select-month {
                min-width: 70px;
                .#{$css-prefix}input {
                    min-width: 70px;
                }
            }
            &-select-year {
                min-width: 88px;
                .#{$css-prefix}input {
                    min-width: 88px;
                }
            }
        }

        #{$calendar2-prefix}-body {
            padding: 8px;
        }
    }

    &-card,
    &-panel {
        #{$cell-inner} {
            z-index: 2;
            height: 24px;
            line-height: 22px;
            border-radius: 2px;
            display: inline-block;
        }

        #{$calendar2-prefix} {
            min-height: 150px;

            &-cell::before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                left: -1px;
                z-index: 1;
                height: 24px;
                transform: translateY(-50%);
            }
            &-cell:last-child::before {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                right: 8px;
            }
            &-cell:first-child::before {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                left: 8px;
            }

            &-table {
                width: 272px;
                thead > tr {
                    height: 24px;
                    color: $color-text1-2;
                }

                th,
                td {
                    font-weight: 400;
                    text-align: center;
                    padding: 4px 0;
                }

                th {
                    height: 32px;
                }
            }

            &-table-month,
            &-table-year,
            &-table-quarter,
            &-table-decade {
                height: 144px;
                #{$calendar2-prefix}-cell-inner {
                    min-width: 56px;
                }
            }

            &-table-decade {
                #{$calendar2-prefix}-cell-inner {
                    min-width: 80px;
                }
            }
        }


        #{$calendar2-prefix}-cell-current {
            &:not(#{$calendar2-prefix}-cell-disabled):not(#{$calendar2-prefix}-cell-selected):not(#{$calendar2-prefix}-cell-today) {
                #{$cell-inner} {
                    @include calendar-current;
                }

                &:hover:not(#{$calendar2-prefix}-cell-hover) #{$cell-inner} {
                    @include calendar-hover;
                }
            }

            &#{$calendar2-prefix}-cell-today:not(#{$calendar2-prefix}-cell-disabled) {
                #{$cell-inner} {
                    color: $color-brand1-9;
                }
            }

            &#{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
                #{$cell-inner} {
                    @include calendar-selected;
                }
            }
        }

        #{$calendar2-prefix}-table-week {
            #{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
                #{$cell-inner} {
                    @include calendar-selected;
                }
            }
        }
    }

    &-fullscreen {
        #{$calendar2-prefix} {
            &-cell-value,
            &-table th {
                text-align: right;
            }

            &-table th {
                padding: 0 8px 4px;
            }

            &-cell-inner {
                height: 80px;
                border-top: 2px solid #DCDFE6;
                margin: 0 4px;
                padding: 4px 8px 0;
            }
        }

        #{$calendar2-prefix}-cell-disabled #{$cell-inner} {
            @include calendar-disabled-fullscreen;
        }

        #{$calendar2-prefix}-cell-current {
            &:not(#{$calendar2-prefix}-cell-disabled):not(#{$calendar2-prefix}-cell-selected):not(#{$calendar2-prefix}-cell-today) {
                #{$cell-inner} {
                    @include calendar-current-fullscreen;
                }

                &:hover #{$cell-inner} {
                    @include calendar-hover-fullscreen;
                }
                &:active #{$cell-inner} {
                    background-color: #EDEFF2;
                }
            }

            &#{$calendar2-prefix}-cell-today {
                #{$cell-inner} {
                    color: $color-brand1-9;
                }
            }

            #{$cell-inner} {
                background-color: $color-white;
            }

            &#{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
                #{$cell-inner} {
                    @include calendar-selected-fullscreen;
                }
            }
        }
    }

    &-card {
        #{$calendar2-prefix} {
            &-header {
                padding-right: 8px;
                padding-left: 8px;
            }
        }
    }
    &-panel {
        #{$calendar2-prefix}-header {
            padding: 0 8px;
            display: flex;
            align-items: center;


            &-btn {
                min-width: 20px;
                line-height: 20px;
                color: $color-text1-3;
                font-family: inherit;
                vertical-align: initial;
                border-radius: 2px;
            }

            &-btn > span,
            &-text-field {
                text-align: center;
                font-size: 14px;
                color: $color-text1-4;
                font-weight: bolder;
                vertical-align: initial;
            }

            &-btn:hover,
            &-btn:hover > span {
                color: $color-brand1-9;
            }

            &-right-btn:hover,
            &-left-btn:hover {
                @include calendar-hover;
            }


            &-text-field {
                flex: 1;
                height: 38px;
                line-height: 38px;
                #{$calendar2-prefix}-header-btn:not(:first-child) {
                    margin-left: 6px;
                }
            }
        }
    }
}


#{$calendar2-prefix}-header-select-month-popup,
#{$calendar2-prefix}-header-select-year-popup {
    min-width: auto;
}
