:root {
--progress-easing: cubic-bezier(0.65, 0.2, 0.35, 1);
--progress-line-height-size-l: 12px;
--progress-line-height-size-m: 8px;
--progress-line-height-size-s: 4px;
--progress-line-underlay-border-width: 1px;
--progress-line-font-l: 12px;
--progress-line-font-m: 12px;
--progress-line-font-s: 12px;
--progress-line-underlay-color: #EBECF0;
--progress-line-underlay-border-color: #DCDEE3;
--progress-line-radius-l: 20px;
--progress-line-radius-m: 20px;
--progress-line-radius-s: 20px;
--progress-line-font-color: #333333;
--progress-line-normal-color: #5584FF;
--progress-line-error-color: #FF3000;
--progress-line-success-color: #46BC15;
--progress-line-started-color: #FF3000;
--progress-line-middle-color: #FF9300;
--progress-line-finishing-color: #46BC15;
--progress-circle-size-l: 132px;
--progress-circle-size-m: 116px;
--progress-circle-size-s: 100px;
--progress-circle-underlay-width: 8px;
--progress-circle-overlay-width: 8px;
--progress-circle-font-l: 36px;
--progress-circle-font-m: 24px;
--progress-circle-font-s: 20px;
--progress-circle-underlay-color: #EBECF0;
--progress-circle-text-color: #333333;
--progress-circle-corner: round;
--progress-circle-normal-color: #5584FF;
--progress-circle-error-color: #FF3000;
--progress-circle-success-color: #46BC15;
--progress-circle-started-color: #FF3000;
--progress-circle-middle-color: #FF9300;
--progress-circle-finishing-color: #46BC15;
}
