@import '../core/index-noreset';

@import './scss/variable';
@import './scss/normalize';
@import './scss/mixin';

@import './rtl.scss';

#{$calendar2-prefix} {
  font-size: $calendar2-font-size;
  user-select: none;
  background: $calendar2-background;

  &-header {
    display: flex;
  }

  &-table {
    width: 100%;
    table-layout: fixed;
  }

  &-cell {
    cursor: pointer;
    position: relative;
    transition:
      background-color 0.2s,
      border 0.2s;
  }

  #{$calendar2-cell-inner} {
    color: $calendar2-cell-inner-color;
    outline: none;
    min-width: $calendar2-cell-inner-min-width;
    position: relative;
    border: $calendar2-cell-inner-border-line-width $calendar2-cell-inner-border-line-style $calendar2-cell-inner-border-color;
  }

  &-cell-disabled {
    &::before {
      @include calendar-disabled($calendar2-cell-disabled-color, $calendar2-cell-disabled-background);
    }
  }

  &-fullscreen,
  &-panel,
  &-card {
    #{$calendar2-prefix}-header {
      &-actions {
        margin-left: auto;
      }
      &-ranges,
      &-actions {
        & > *:not(:first-child) {
          margin-left: $calendar2-fullscreen-header-ranges-margin-left;
        }
      }

      &-select-year,
      &-select-month {
        min-width: $calendar2-fullscreen-header-select-year-min-width;
        .#{$css-prefix}input {
          min-width: auto;
        }
      }
    }

    #{$calendar2-prefix}-body {
      padding: $calendar2-fullscreen-body-padding-tb $calendar2-fullscreen-body-padding-lr;
    }
  }

  &-card,
  &-panel {
    #{$calendar2-cell-inner} {
      z-index: 2;
      height: $calendar2-card-cell-inner-height;
      line-height: 22px;
      border-radius: 2px;
      display: inline-block;
    }

    #{$calendar2-prefix} {
      min-height: 150px;
      &-table {
        thead > tr {
          height: $calendar2-card-table-thead-height;
          color: $calendar2-card-table-thead-color;
        }

        th,
        td {
          font-weight: $calendar2-card-table-th-font-weight;
          text-align: center;
          padding: $calendar2-card-table-th-padding-tb $calendar2-card-table-th-padding-lr;
        }

        th {
          height: $calendar2-card-table-th-height;
        }
      }

      &-table-month,
      &-table-year,
      &-table-decade {
        height: 145px;
        #{$calendar2-prefix}-cell-inner {
          min-width: $calendar2-card-table-month-cell-inner-min-width;
        }
      }
      &-table-quarter {
        height: 50px;
        #{$calendar2-prefix}-cell-inner {
          min-width: $calendar2-card-table-quarter-cell-inner-min-width;
        }
      }

      &-table-decade {
        #{$calendar2-prefix}-cell-inner {
          min-width: $calendar2-card-table-decade-cell-inner-min-width;
        }
      }
    }

    #{$calendar2-prefix}-cell-current {
      &:not(#{$calendar2-prefix}-cell-disabled):not(#{$calendar2-prefix}-cell-selected):not(
          #{$calendar2-prefix}-cell-today
        ) {
        #{$calendar2-cell-inner} {
          @include calendar-current($calendar2-card-current-cell-inner-color);
        }

        &:hover:not(#{$calendar2-prefix}-cell-hover) #{$calendar2-cell-inner} {
          @include calendar-hover($calendar2-card-cell-current-background);
        }
      }

      &#{$calendar2-prefix}-cell-today:not(#{$calendar2-prefix}-cell-disabled) {
        #{$calendar2-cell-inner} {
          color: $calendar2-card-current-today-not-disabled-cell-inner-color;
        }
      }

      &#{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
        #{$calendar2-cell-inner} {
          @include calendar-selected(
            $calendar2-card-current-selected-not-disabled-cell-inner-color,
            $calendar2-card-current-selected-not-disabled-cell-inner-background
          );
        }
      }
    }
  }

  &-fullscreen {
    #{$calendar2-prefix} {
      &-cell-value,
      &-table th {
        text-align: right;
      }

      &-table th {
        padding: $calendar2-fullscreen-table-padding-t $calendar2-fullscreen-table-padding-r $calendar2-fullscreen-table-padding-b $calendar2-fullscreen-table-padding-l;
      }

      &-cell-inner {
        height: $calendar2-fullscreen-cell-inner-height;
        border-top: $calendar2-fullscreen-cell-inner-border-top-line-width $calendar2-fullscreen-cell-inner-border-top-line-style $calendar2-fullscreen-cell-inner-border-top-color;
        margin: $calendar2-fullscreen-cell-inner-margin-tb $calendar2-fullscreen-cell-inner-margin-lr;
        padding: $calendar2-fullscreen-cell-inner-padding-t $calendar2-fullscreen-cell-inner-padding-lr $calendar2-fullscreen-cell-inner-padding-b;
      }
    }

    td #{$calendar2-prefix}-cell-inner {
      height: $calendar2-fullscreen-td-height;
      border-top: $calendar2-fullscreen-td-border-top-line-width $calendar2-fullscreen-td-border-top-line-style $calendar2-fullscreen-td-border-top-color;
    }

    #{$calendar2-prefix}-cell-disabled #{$calendar2-cell-inner} {
      @include calendar-disabled-fullscreen(
        $calendar2-fullscreen-cell-disabled-color,
        $calendar2-fullscreen-cell-disabled-background
      );
    }

    #{$calendar2-prefix}-cell-current {
      &:not(#{$calendar2-prefix}-cell-disabled):not(#{$calendar2-prefix}-cell-selected):not(
          #{$calendar2-prefix}-cell-today
        ) {
        #{$calendar2-cell-inner} {
          @include calendar-current-fullscreen($calendar2-fullscreen-current-cell-inner-color);
        }

        &:hover #{$calendar2-cell-inner} {
          @include calendar-hover-fullscreen($calendar2-fullscreen-cell-current-hover-background-color);
        }
      }

      &#{$calendar2-prefix}-cell-today {
        #{$calendar2-cell-inner} {
          color: $calendar2-fullscreen-current-today-cell-inner-color;
        }
      }

      #{$calendar2-cell-inner} {
        background-color: $calendar2-fullscreen-current-cell-inner-background-color;
      }

      &#{$calendar2-prefix}-cell-selected:not(#{$calendar2-prefix}-cell-disabled) {
        #{$calendar2-cell-inner} {
          @include calendar-selected-fullscreen(
            $calendar2-fullscreen-current-selected-not-disabled-cell-inner-border-top-color,
            $calendar2-fullscreen-current-selected-not-disabled-cell-inner-color,
            $calendar2-fullscreen-current-selected-not-disabled-cell-inner-background
          );
        }
      }
    }
  }

  &-card {
    #{$calendar2-prefix} {
      &-header {
        padding: $calendar2-card-header-padding-tb $calendar2-card-header-padding-lr;
        border-bottom: $calendar2-card-header-border-bottom-line-width $calendar2-card-header-border-bottom-line-style $calendar2-card-header-border-bottom-color;
      }
    }
  }

  &-panel {
    #{$calendar2-prefix}-header {
      padding: $calendar2-panel-header-padding-tb $calendar2-panel-header-padding-lr;
      display: flex;
      align-items: center;
      border-bottom: $calendar2-panel-header-border-bottom-line-width $calendar2-panel-header-border-bottom-line-style
        $calendar2-panel-header-border-bottom-color;

      &-btn {
        min-width: $calendar2-panel-header-btn-min-width;
        line-height: 20px;
        color: $calendar2-panel-header-btn-color;
        font-family: inherit;
        vertical-align: initial;
        border-radius: 2px;
      }

      &-btn > span,
      &-text-field {
        text-align: center;
        font-size: $calendar2-panel-header-btn-font-size;
        color: $calendar2-panel-header-btn-color;
        font-weight: $font-weight-bolder;
        vertical-align: initial;
      }

      &-btn:hover,
      &-btn:hover > span {
        color: $calendar2-panel-header-hover-btn-color;
      }

      &-right-btn:hover,
      &-left-btn:hover {
        @include calendar-hover($calendar2-panel-header-hover-right-btn-background);
      }

      &-text-field {
        flex: 1;
        height: 38px;
        line-height: 38px;
        #{$calendar2-prefix}-header-btn:not(:first-child) {
          margin-left: 6px;
        }
      }
    }
  }
}

#{$calendar2-prefix}-header-select-month-popup,
#{$calendar2-prefix}-header-select-year-popup {
  min-width: auto;
}
