:root {
--tree-node-padding: 4px;
--tree-node-title-margin: 4px;
--tree-node-title-padding: 4px;
--tree-node-title-font-size: 12px;
--tree-switch-arrow-size: 12px;
--tree-switch-size: 16px;
--tree-switch-icon-size: 8px;
--tree-switch-border-width: 1px;
--tree-switch-margint-right: 8px;
--tree-line-width: 1px;
--tree-node-normal-color: #333333;
--tree-node-normal-background: #FFFFFF;
--tree-node-title-border-radius: 3px;
--tree-switch-arrow-color: #999999;
--tree-switcher-fold-icon-content: "\e655";
--tree-switcher-unfold-icon-content: "\e601";
--tree-switch-icon-color: #666666;
--tree-switch-bg-color: #FFFFFF;
--tree-switch-border-color: #C4C6CF;
--tree-switch-corner: 3px;
--tree-line-color: #C4C6CF;
--tree-line-style: solid;
--tree-node-hover-color: #333333;
--tree-node-hover-bg-color: #F2F3F7;
--tree-switch-hover-arrow-color: #333333;
--tree-switch-hover-icon-color: #333333;
--tree-switch-hover-bg-color: #F2F3F7;
--tree-switch-hover-border-color: #A0A2AD;
--tree-node-selected-color: #333333;
--tree-node-selected-background: #DEE8FF;
--tree-node-disabled-color: #CCCCCC;
--tree-node-disabled-background: #FFFFFF;
--tree-child-indent: 24px;
--tree-node-title-height: 20px;
--tree-child-indent-left: calc((16px - 1px) / 2);
--tree-child-indent-right: calc(24px - 1px - (16px - 1px) / 2);
--tree-child-right-angle-left: calc(0px - (24px - (16px - 1px) / 2 + 1px));
--tree-child-right-angle-width: calc(24px - (16px - 1px) / 2);
--tree-line: 1px solid #C4C6CF;
--tree-fold-icon-content: "\e63d";
--tree-unfold-icon-content: "";
}
