////
/// @module size: 尺寸
/// @type String
/// @category style
////


/**
 * 尺寸 基础尺寸
 * 命名能在语义的前提下简单就尽量简单, 这里可以是 size-2x, space-2x, size-base ...
 * 不过可以在语义的前提下做的更精简一些, 于是用了s2, s1等
 * 可用变量: `$s1 - $s8`
 * @example scss - 使用
 *   .element {
 *     padding: $s1 !default;
 *   }
 *
 * @example css - CSS 输出
 *   .element {
 *     padding: 4px !default;
 *   }
 */

/// size-base
/// @semantic 基础尺寸
/// @type Length
$size-base: 4px !default;

/// s-zero
/// @export
/// @unconfigurable
$s-zero: 0;

/// s-1
/// @unconfigurable
/// @export
$s-1: calc(#{$size-base} * 1);

/// s-2
/// @export
/// @unconfigurable
$s-2: calc(#{$size-base} * 2);

/// s-3
/// @export
/// @unconfigurable
$s-3: calc(#{$size-base} * 3);

/// s-4
/// @export
/// @unconfigurable
$s-4: calc(#{$size-base} * 4);

/// s-5
/// @export
/// @unconfigurable
$s-5: calc(#{$size-base} * 5);

/// s-6
/// @export
/// @unconfigurable
$s-6: calc(#{$size-base} * 6);

/// s-7
/// @export
/// @unconfigurable
$s-7: calc(#{$size-base} * 7);

/// s-8
/// @export
/// @unconfigurable
$s-8: calc(#{$size-base} * 8);

/// s-9
/// @export
/// @unconfigurable
$s-9: calc(#{$size-base} * 9);

/// s-10
/// @export
/// @unconfigurable
$s-10: calc(#{$size-base} * 10);

/// s-11
/// @export
/// @unconfigurable
$s-11: calc(#{$size-base} * 11);

/// s-12
/// @export
/// @unconfigurable
$s-12: calc(#{$size-base} * 12);

/// s-13
/// @export
/// @unconfigurable
$s-13: calc(#{$size-base} * 13);

/// s-14
/// @export
/// @unconfigurable
$s-14: calc(#{$size-base} * 14);

/// s-15
/// @export
/// @unconfigurable
$s-15: calc(#{$size-base} * 15);

/// s-16
/// @export
/// @unconfigurable
$s-16: calc(#{$size-base} * 16);

/// s-17
/// @export
/// @unconfigurable
$s-17: calc(#{$size-base} * 17);

/// s-18
/// @export
/// @unconfigurable
$s-18: calc(#{$size-base} * 18);

/// s-19
/// @export
/// @unconfigurable
$s-19: calc(#{$size-base} * 19);

/// s-20
/// @export
/// @unconfigurable
$s-20: calc(#{$size-base} * 20);

/// s-21
/// @export
/// @unconfigurable
$s-21: calc(#{$size-base} * 21);

/// s-22
/// @export
/// @unconfigurable
$s-22: calc(#{$size-base} * 22);

/// s-23
/// @export
/// @unconfigurable
$s-23: calc(#{$size-base} * 23);

/// s-24
/// @export
/// @unconfigurable
$s-24: calc(#{$size-base} * 24);

/// s-25
/// @export
/// @unconfigurable
$s-25: calc(#{$size-base} * 25);

/// s-26
/// @export
/// @unconfigurable
$s-26: calc(#{$size-base} * 26);

/// s-27
/// @export
/// @unconfigurable
$s-27: calc(#{$size-base} * 27);

/// s-28
/// @export
/// @unconfigurable
$s-28: calc(#{$size-base} * 28);

/// s-29
/// @export
/// @unconfigurable
$s-29: calc(#{$size-base} * 29);

/// s-30
/// @export
/// @unconfigurable
$s-30: calc(#{$size-base} * 30);

/// s-31
/// @export
/// @unconfigurable
$s-31: calc(#{$size-base} * 31);

/// s-32
/// @export
/// @unconfigurable
$s-32: calc(#{$size-base} * 32);

/// s-33
/// @export
/// @unconfigurable
$s-33: calc(#{$size-base} * 33);

/// s-34
/// @export
/// @unconfigurable
$s-34: calc(#{$size-base} * 34);

/// s-35
/// @export
/// @unconfigurable
$s-35: calc(#{$size-base} * 35);

/// s-36
/// @export
/// @unconfigurable
$s-36: calc(#{$size-base} * 36);

/// s-37
/// @export
/// @unconfigurable
$s-37: calc(#{$size-base} * 37);

/// s-38
/// @export
/// @unconfigurable
$s-38: calc(#{$size-base} * 38);

/// s-39
/// @export
/// @unconfigurable
$s-39: calc(#{$size-base} * 39);

/// s-40
/// @export
/// @unconfigurable
$s-40: calc(#{$size-base} * 40);

/// s-41
/// @export
/// @unconfigurable
$s-41: calc(#{$size-base} * 41);

/// s-42
/// @export
/// @unconfigurable
$s-42: calc(#{$size-base} * 42);

/// s-43
/// @export
/// @unconfigurable
$s-43: calc(#{$size-base} * 43);

/// s-44
/// @export
/// @unconfigurable
$s-44: calc(#{$size-base} * 44);

/// s-45
/// @export
/// @unconfigurable
$s-45: calc(#{$size-base} * 45);

/// s-46
/// @export
/// @unconfigurable
$s-46: calc(#{$size-base} * 46);

/// s-47
/// @export
/// @unconfigurable
$s-47: calc(#{$size-base} * 47);

/// s-48
/// @export
/// @unconfigurable
$s-48: calc(#{$size-base} * 48);

/// s-49
/// @export
/// @unconfigurable
$s-49: calc(#{$size-base} * 49);

/// s-50
/// @export
/// @unconfigurable
$s-50: calc(#{$size-base} * 50);

// ----------- patch ----------- //
$s-0: $s-zero;
