// mixin
@mixin calendar-hover($background) {
  background: $background;
}

@mixin calendar-current($color) {
  color: $color;
}

@mixin calendar-initial($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

@mixin calendar-disabled($color, $background) {
  color: $color;
  background: $background;
}

@mixin calendar-selected($color, $background) {
  color: $color;
  background: $background;
}

@mixin calendar-hover-fullscreen($background-color) {
  background-color: $background-color;
}

@mixin calendar-current-fullscreen($color) {
  color: $color;
}

@mixin calendar-selected-fullscreen($border-top-color, $color, $background) {
  border-top-color: $border-top-color;
  font-weight: bold;
  color: $color;
  background: $background;
}

@mixin calendar-disabled-fullscreen($color, $background) {
  color: $color;
  background: $background;
}
