@import "../core/index-noreset.scss";

@import "./scss/variable";
@import "./scss/menu.scss";
@import "./scss/panel.scss";
@import "./scss/footer.scss";
@import "./rtl.scss";

#{$time-picker2-prefix} {
    @include box-sizing;

    display: inline-block;

    &-trigger .#{$css-prefix}input {
        width: 100%;
    }

    &-wrapper {
        padding: $s-1 0;
    }

    &-body {
        overflow: hidden;
        border: $popup-local-border-width $popup-local-border-style $time-picker-panel-border-color;
        border-radius: $time-picker-panel-corner;
        background: $time-picker-panel-background;
        box-shadow: $time-picker-panel-shadow;
    }

    &-symbol-clock-icon::before {
        content: $time-picker-clock-icon;
    }
}
