#{$time-picker2-prefix}-wrapper[dir="rtl"] {
    #{$time-picker2-prefix}-menu {
        float: right;
        &:not(:last-child) {
            border-right: none;
            border-left: $time-picker-menu-border-width $line-solid $time-picker-menu-border-color;
        }
    }
}
