.checkbox-preview-inline {
    display: inline-block;
    margin-left: 8px;
    line-height: 40px;
}

.checkbox-group-preview-inlline {
    display: inline-block;
    margin-left: 8px;
    line-height: 40px;
}
