/* TODO 删除 */

html {
}

body {
    max-width: 1600px;
    min-width: 896px;
    width: max(calc(100% - 112px), 896px);
    margin: 20px auto auto 40px;
    font-size: 14px!important;
}

.markdown {
    color: #666;
    word-wrap: break-word;
    line-height: 20px;
    letter-spacing: .2px
}

.markdown img {
    vertical-align: middle;
    max-width: 100%
}

.markdown h1 {
    color: #222;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 32px;
    font-family: Roboto-Bold;
    line-height: 32px;
    font-weight: 500;
}

.markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    position: relative;
    color: #222;
    font-weight: 500;
    clear: both;
}

.markdown h2 {
    margin: 48px 0 12px 0;
    font-size: 24px;
    min-height: 20px;
    line-height: 20px;
}

.markdown h3 {
    margin: 24px 0 12px 0;
    font-size: 16px;
    min-height: 22px;
    line-height: 22px;
}

.markdown h4 {
    margin: 12px 0 8px 0;
    font-size: 14px;
    min-height: 20px;
    line-height: 20px;
}

.markdown .header-anchor {
    margin-left: 8px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    touch-action: manipulation;
}

.markdown h1:hover .header-anchor, .markdown h2:hover .header-anchor, .markdown h3:hover .header-anchor, .markdown h4:hover .header-anchor, .markdown h5:hover .header-anchor, .markdown h6:hover .header-anchor {
    display: inline-block;
    opacity: 1;
}

.markdown hr {
    height: 1px;
    border: 0;
    background: #e9e9e9;
    margin: 16px 0;
    clear: both
}

.markdown p {
    margin-bottom: 12px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    min-height: 20px;
    line-height: 20px;
}

.markdown ol, .markdown ul {
    padding-left: 1em
}

.markdown ul>li {
    list-style-type: circle;
}

.markdown>ul li, .markdown blockquote ul>li {
    margin-left: 20px;
    padding-left: 4px
}


.markdown ol>li {
    list-style: decimal
}

.markdown>ol li, .markdown blockquote ol>li {
    margin-left: 20px;
    padding-left: 4px
}

.markdown code:not([class*="language-"]) {
    margin: 0 1px;
    font-size: .9em;
    background-color: #f9f2f4;
    color: #c7254e;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
}

.markdown p code {
    background-color: #f9f2f4;
    color: #c7254e;
    padding: 2px 4px
}

.markdown b, .markdown strong {
    font-weight: 600
}

.markdown>table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 16px 0
}

.markdown>table th {
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 600
}

.markdown>table td, .markdown>table th {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left
}

.markdown>table th {
    background: #f7f7f7
}

.markdown blockquote {
    color: #999;
    border-left: 4px solid #e9e9e9;
    padding-left: .8em;
    margin: 1em 0;
    font-style: italic
}

.markdown blockquote p {
    margin: 0
}

.post .anchor {
    margin-left: 0;
    position: absolute;
    left: -18px
}

.markdown .waiting {
    color: #ccc;
    cursor: not-allowed
}

.markdown>br, .markdown>p>br {
    clear: both
}

.markdown .anchor {
    line-height: unset;
    float: left;
    margin-left: -15px;
    color: transparent
}

.markdown .anchor:hover {
    color: #108ee9;
    text-decoration: none
}

.markdown .anchor>span {
    color: #222
}

#demo-api .anchor, .demo-list .markdown .anchor {
    float: unset;
    color: transparent
}

#demo-api .anchor:hover, .demo-list .markdown .anchor:hover {
    color: #108ee9;
    text-decoration: none
}

code {
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none
}

.js-focus-visible .focus-visible:focus {
    outline: 2px dashed orange
}

.demo-wrapper .demo-comment-list, .demo-wrapper .demo-list-item-body {
    background: #fff;
    border: 1px solid #e6e7eb;
    border-radius: 4px;
    padding: 20px
}

.demo-wrapper {
    max-width: 1600px;
    min-width: 784px;
    width: calc(100% - 168px);
    position: relative;
}

.demo-index {
    position: fixed;
    top: 56px;
    right: max(calc((100% - 1600px)/2), 0px);
    width: 168px;
    max-height: calc(100vh - 200px);
    min-height: 150px;
    overflow: auto;
}
@media screen and (max-width:1064px){
    .demo-index {
        display: none;
    }
}
@media screen and (min-width:1600px){
    .demo-index {
        right: auto;
        left: 1520px;
    }
}

.demo-item-desc-body:empty {
    display: none;
}

.demo-index-list {
    box-sizing: content-box;
    top: 92px;
    position: fixed;
    overflow: auto;
    max-height: calc(100vh - 200px);
    min-height: 150px;
}

.demo-index-list .demo-index-item {
    border-left: 1px solid #dcdee3;
    max-width: 168px;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 10px;
    font-family: Roboto-Regular;
    color: #666666;
    letter-spacing: 0;
    min-height: 20px;
}

.demo-index-list .demo-index-item a {
    display: block;
    padding: 0;
    color: #666;
    letter-spacing: 0;
    line-height: 1.5;
    min-height: 20px;
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 12px;
}

.demo-index-list .demo-index-item.demo-index-item-sub {
    padding-left: 20px;
    line-height: 1.2;
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
}

.demo-index-list .demo-index-item.demo-index-item-sub a {
    display: block;
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    line-height: 1.5;
    text-decoration: none;
}

.demo-index-list .demo-index-item.active {
    border-left: 1px solid #222;
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #222222;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 900;
    min-height: 20px;
}

.next-demo-item.scroll-count-item.active{
    border: 1px solid #3B9AFF!important;
}

.demo-index-list .demo-index-item.active a {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #222222;
    letter-spacing: 0;
    line-height: 1.5;
    min-height: 20px;
    text-decoration: none
}

.demo-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    height: 32px;
    margin: 26px 0 16px 0;
}

.demo-head {
    margin-bottom: 20px
}

.demo-list-item-code {
    position: relative
}

.demo-list-item-code .demo-code-previews {
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: right
}

.demo-list-item-code .demo-code-previews .demo-code-preview-item {
    display: inline-block;
    margin-left: 5px
}

.demo-list-item-code .demo-code-previews .demo-code-preview-item .preview-paltform-icon {
    width: 1em;
    height: 1em;
    margin-top: 1px;
    vertical-align: text-top
}

.demo-list-item-code .demo-code-previews .demo-code-preview-item .preview-paltform-icon path {
    fill: #fff
}

.demo-list-item-header {
    margin: 10px 0
}

.demo-list-item-control {
    text-align: center
}

.demo-list-item-control-img {
    display: inline-block;
    transition: transform .5s;
    transform: rotate(180deg)
}

.demo-list-item-body .demo-list-item-code {
    height: 0;
    transform-origin: center top;
    transform: scaleY(0);
    transition: all .3s ease;
    overflow: hidden
}

.demo-list-item-body.expand .demo-list-item-code {
    height: auto;
    transform: scaleY(1);
    transition: all .3s ease
}

.demo-list-item-body.expand .demo-list-item-control-img {
    transform: rotate(0)
}

.demo-api .title {
    font-size: 20px;
    margin: 1.5em 0 .5em;
    color: #333
}

.with-global-control-right {
    display: inline-flex;
}

html::-webkit-scrollbar {
    display: none
}

#cnzz_stat_icon_1262003581 {
    display: none
}

@media screen and (max-width:768px) {
    .demo-wrapper {
        margin: 0 20px
    }
    .demo-wrapper .demo-index {
        display: none
    }
}

/* code hightlight */

/* markdown table */

.markdown table li p.first {
    display: inline-block;
}

.markdown table ul, ol {
    padding-left: 30px;
}

.markdown table ul :first-child, ol :first-child {
    margin-top: 0;
}

.markdown table ul :last-child, ol :last-child {
    margin-bottom: 0;
}

.markdown table dl {
    padding: 0;
}

.markdown table dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

.markdown table dl dt:first-child {
    padding: 0;
}

.markdown table dl dt> :first-child {
    margin-top: 0;
}

.markdown table dl dt> :last-child {
    margin-bottom: 0;
}

.markdown table dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

.markdown table dl dd> :first-child {
    margin-top: 0;
}

.markdown table dl dd> :last-child {
    margin-bottom: 0;
}

.markdown table blockquote {
    padding: 0 15px;
    color: #777777;
}

.markdown table blockquote> :first-child {
    margin-top: 0;
}

.markdown table blockquote> :last-child {
    margin-bottom: 0;
}

.markdown table {
    padding: 0;
    border-spacing: 0;
    width: 100%;
}

.markdown table em {
    color: rgba(155, 4, 152, 0.8);
    margin-right: 4px;
}

.markdown table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.markdown table tbody tr:hover {
    background-color: #f9f9f9;
}

.markdown table tr th {
    font-weight: bold;
    border-bottom: 2px solid #333;
    text-align: left;
    margin: 0;
    padding: 16px 0 10px 0;
    color: #000;
    line-height: 16px;
    min-height: 16px;
}

.markdown table tr td {
    border-bottom: 1px solid #ccc;
    text-align: left;
    margin: 0;
    padding: 18px 18px 18px 0;
}

.markdown table thead tr th:first-child{
    padding-left: 8px;
}

.markdown table td:first-child {
    width: 14%;
    color: #595959;
    font-weight: 600;
    white-space: nowrap;
    padding-left: 8px;
}

.markdown table td:nth-child(2) {
    width: 47%;
}

.markdown table td:nth-child(3) {
    width: 16%;
    /* color: #c41d7f; */
    font-size: 13px;
}

.markdown table td:nth-child(4) {
    width: 15%;
    font-size: 13px;
}

.markdown table td:nth-child(5) {
    width: 8%;
    font-size: 13px;
}

.react-live-error {
    background-color: #0A0C18;
    color: #fff;
    margin-top: 30px !important;
}

.next-demo-links {
    margin: 0;
    padding: 0;
    width: 300px;
    list-style: none;
    position: fixed;
    top: 50px;
    right: 50px;
    background: #FFF;
    border: 1px solid #C4C6Cf;
    border-radius: 3px;
    overflow-y: auto;
    max-height: 500px;
}

.next-demo-links li {
    min-height: 30px;
    padding: 0 10px;
}

.next-demo-links li.title {
    background: #7F00E0;
    color: #fff;
}

.next-demo-links li.title+li {
    border-top: none;
}

.next-demo-links li+li {
    border-top: 1px solid #C4C6Cf;
}

.next-demo-links a {
    color: #333;
    text-decoration: none;
}

.next-demo-links a.current {
    color: #7F00E0;
}

.next-demo-dir {
    position: absolute;
    top: 20px;
    right: 160px;
    width: 100px;
    min-height: 20px;
    background: #fff;
    border: 1px solid #C4C6Cf;
}

.next-demo-lang {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 100px;
    min-height: 20px;
    background: #fff;
    border: 1px solid #C4C6Cf;
}

.react-live-body {
    font-size: 12px;
    line-height: 14px;
    padding: 0 5px 0 5px;
}

.react-live-body pre {
    font-family: Monaco, 'Andale Mono', 'Ubuntu Mono', monospace!important;
}

.react-live-body .token.plain {
    color: #585d66;
}

.react-live-body textarea {
    color: #333;
    caret-color: red;
}

@supports (-webkit-mask: none) and (not (caret-color: red)) {
    textarea {
        color: red;
    }
    intextareaput::first-line {
        color: #333;
    }
}

.react-live-body textarea:focus {
    outline: none;
    border: 1px dashed rgba(59, 154, 255, .5)!important;
}

[id*="-live-import"] pre .language-jsx .hljs {
    font-family: Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    background-color: #F5F5FB !important;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
}

[id*="-live-css"] pre .language-css .hljs {
    font-family: Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    background-color: #F5F5FB !important;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
}

#toggle-rtl {
    position: absolute;
    top: 20px;
    right: 280px;
    min-height: 20px;
    background: #fff;
}

.next-demo-item {
    border: 1px solid #EEE;
    margin-bottom: 20px;
}

.next-demo-playground {
    margin-top: 40px;
}

.next-demo-mount {
    padding: 24px 24px;
    border-bottom: 1px solid #EEE;
}

.next-demo-body {
    background: #f5f7fa;
    padding: 4px 20px !important;
    max-height: 400px;
    overflow: scroll;
}

[id*='-live-import'] pre.language-jsx {
    margin: 0 0;
    padding-bottom: 0;
}

[id*='-live-css'] pre.language-css {
    margin: 0 0;
    padding-top: 0;
}

.next-demo-body pre {
    margin: 14px 0;
}

.demo-item-desc {
    padding: 24px 24px;
    border-bottom: dashed #EEE 1px;
    
}

.demo-item-desc h3 {
    margin: 0 0 8px 0;
    line-height: 1;
}

.demo-item-desc p {
    margin: 0 0 0 0;
    line-height: 20px;
}

.markdown h4+p {
    margin-top: 0;
}

.next-demo-mount p {
    margin: 0 0 12px 0;
}

.demo-item-desc .demo-item-desc-title {
    min-height: 19px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
}

.demo-item-desc .demo-item-desc-body {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    min-height: 20px;
}

.demo-item-desc-body markdown {
    margin: 0 0;
}

.demo-item-operations {
    height: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding: 11px 12px 12px 12px;
    opacity: .7;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.code-box-code-action {
    height: 20px;
    width: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 24px;
    color: rgba(0, 0, 0, .45);
    cursor: pointer;
    -webkit-transition: all .24s;
    transition: all .24s;
}

.op-icon, .code-expand-icon-hide, .code-expand-icon-show, .code-box-code-action svg {
    height: 20px;
    width: 20px;
}

.op-icon:hover, .code-expand-icon-hide:hover, .code-expand-icon-show:hover, .code-box-code-action svg:hover, .code-box-expand-trigger svg:hover {
    color: #3B9AFF;
    fill: #3B9AFF;
}

.all-demo-box-controls {
    position: fixed;
    display: flex;
    align-items: center;
}

.all-demo-box-controls svg {
    height: 20px;
    width: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgba(0, 0, 0, .45);
    fill: rgba(0, 0, 0, .45);
    cursor: pointer;
    -webkit-transition: all .24s;
    transition: all .24s;
    margin: 8px;
    left: -3px;
    top: -4px;
}

.preview-btn {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

/* #demo-guide + h2 {
    margin-top: 0;
} */

h2#demo-list {
    margin-bottom: 20px;
}

.markdown h2+h3 {
    margin-top: 0;
}
.markdown h3+table tr th {
    padding: 4px 0 10px 0;
}

.markdown table+h3 {
    margin: 41px 0 8px 0;
}

.markdown p+p {
    margin-top: 12px;
}