.free-card {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.free-card + .free-card {
    margin-left: 20px;
}

.free-card.custom {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 200px;
}

.free-card.custom .next-card-media {
    height: 100%;
    width: 200px;
    flex-shrink: 0;
}

.free-card-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.free-card-main .next-card-content-container {
    flex: 1;
}

.free-card-main .next-card-actions {
    text-align: right;
}
