.tooltips-demo {
    padding: 8px;
    max-width: 300px;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #1f2633;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
}
