//
// $date-picker2-prefix: '.' + $css-prefix + 'picker';
// --------------------------------------------------

$date-picker2-prefix: "." + $css-prefix + "date-picker2";
$range-picker2-prefix: "." + $css-prefix + "range-picker2";
$calendar2-prefix: "." + $css-prefix + "calendar2";
