{
    "extends": [
        "@alifd/eslint-config-next"
    ],
    "rules": {
        "eol-last": 0,
        "key-spacing": 0,
        "semi": 1,
        "no-console": 0,
        "no-undef": 0,
        "no-unused-vars": 0,
        "no-useless-escape": 0,
        "no-unused-expressions": 0,
        "react/jsx-no-undef": 0,
        "react/no-did-mount-set-state": 0,
        "react/require-render-return": 0,
        "react/react-in-jsx-scope": 0,
        "react/jsx-pascal-case": 0,
        "react/no-direct-mutation-state": 0,
        "react/no-render-return-value": 0,
        "react/jsx-filename-extension": 0,
        "react/no-multi-comp": 0,
        "react/prefer-stateless-function": 0,
        "react/prop-types": 0
    }
}
